/* cookie-regular*/
@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cookie-Regular.ttf') format('truetype');
  }

.home-container{
    background-image: url('../images/background.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 110px;
    align-items: center;
    padding-bottom: 10%;
}

.quote{
    padding: 2px 8px;
    font-family: 'Cookie';
    font-size: 5rem;
    color: #ddb892;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.order-button{
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #7f5539;
    color: #7f5539;
    background-color: rgba(237, 224, 212, 0.3);
    cursor: pointer;
}

.order-button:hover{
    color: #ddb892;
    background-color: #7f5539;
}