/* courgette-regular */
@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Courgette-Regular.ttf');
}

/* merriweather - regular */
@font-face {
    font-family: 'merriweather';
    font-weight: 400;
    src: url('../fonts/merriweather-regular.ttf');
}

/* merriweather - bold */
@font-face {
    font-family: 'merriweather';
    font-weight: 700;
    src: url('../fonts/merriweather-700.ttf');
}

* {
    box-sizing: border-box;
    margin: 0px;
}

:root{
    font-size: 16px;
}

.container{
    background-color: #ede0d4;
}

.navbar{
    background-color: rgba(221, 184, 146, 0.7);
    color: #9c6644;
    border-radius: 15px;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 2%;
    top: 8px;
    width: 96%;
    margin: 0px auto;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-with-name{
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.main-logo-image{
    width: 80px;
    height: auto;
}

.main-logo-name{
    font-family: 'Courgette', 'Roboto', serif;
    font-size: 5rem;
    margin: 0px;
}

.nav-links{
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-link{
    font-family: 'merriweather', serif;
    font-weight: 700;
    font-size: 3.5em;
    text-decoration: none;
    color: #7f5539;
    padding: 9px;
    cursor: pointer;
}

.footer{
    width: 100%;
    background-color: #7f5539;
    color: #ede0d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links{
    margin: 20px 0px;
}

.footer-text{
    font-family: 'merriweather', serif;
    font-size: 1rem;
    margin: 20px 0px;
}

.connect-text{
    text-transform: uppercase;
}

.hidden{
    display: none;
}

.selected{
    border-bottom: 2px solid #7f5539;
}